<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TODO</title>
{% load staticfiles %}
<!--bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
<script src="https://ajax.googleapis.com.ajax.libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
        <div class = "container-fluid">
                 <div class="navbar-header">
                         <a class="navbar-brand" href="{% url 'myapp:index' %}">TODO</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                        <li class="">
                        <a href="{% url 'myapp:addtodo' %}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                                Addlist
                        </a>
                        </li>
                </ul>
        </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>

